{% extends "_base.html" %}

{% load static %}
{% load i18n %}

{% block title %}
  Home page
{% endblock title %}

{% block content %}
  <!-- Hero Section Start -->
  <section class="hero-wrap style3 rampoe-hero-section">
    {% comment %} <img height="" width="" src="{% static "img/hero/hero-shape-10" %}.jpg" alt="Image" class="hero-shape-one"> {% endcomment %}
    <img height="" width="" src="{% static "img/hero/hero-shape-3" %}.png" alt="Image" class="hero-shape-two moveHorizontal">
    <img height="" width="" src="{% static "img/hero/hero-shape-11" %}.png" alt="Image" class="hero-shape-three">
    <img height="" width="" src="{% static "img/hero/cloud-3.png" %}" alt="Image" class="hero-shape-four moveLeft">
    <div class="banner-slide owl-carousel owl-theme">
      <div class="container ptb-100">
        <div class="row gx-5 justify-content-center align-items-center text-white">
          {% comment %} <div class="col-md-6">
            <div class="hero-img-wrap">
              <img height="" width="" src="{% static "img/hero/hero-shape-5.png" %}" alt="Image" class="hero-img-shape waving_left">
              <img height="" width="" src="{% static "img/hero/hero-img-2.jpg" %}" alt="Image">
            </div>
          </div> {% endcomment %}
          <div class="col-md-8">
            <div class="hero-content d-flex flex-column justify-content-center text-center">
              <span style="color: black; font-weight: 800; font-size: 48px">WELCOME TO THE</span>
              <h1 style="color: #057402; font-size: 100px;">GREEN COACH</h1>
              <p style="color: black; font-weight: 800; font-size: 64px;">EDUCATION PLATFORM</p>
              <p style="color: 20px; color: #057402;">
                We are an educational platform dedicated to spreading knowledge about climate change and the environment.
                Our mission is to increase awareness and understanding of environmental issues and promote practical solutions for a more sustainable future.
              </p>
              <p>
                <a href="{% url "home" %}" class="btn style2 px-5">Join With us</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hero Section End -->

  <!-- About Section Start -->
  <section class="about-wrap style3 ptb-100">
    <div class="container">
      <div class="row align-items-center gx-5">
        <div class="col-lg-6 order-lg-1 order-2"
             data-aos="fade-up"
             data-aos-duration="1200"
             data-aos-delay="200">
          <div class="about-content">
            <div class="content-title style3">
              <span>A Little Introduction</span>
              <h2>Protect Our Earth Against Climate Change</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sollicitudin consectetur netus dui, ultrices or lectus ac egestas. Vivamus tellus vestibulum aliquet arcu a duis. Sollicitudin consectetur netus du ultric.
              </p>
            </div>
            <ul class="content-feature-list list-style">
              <li>
                <i class="ri-checkbox-circle-line"></i>Curabitur vitae ullamcorper libe roras id augue
              </li>
              <li>
                <i class="ri-checkbox-circle-line"></i>Felis cras luctus nisi in tincidunt blandit
              </li>
              <li>
                <i class="ri-checkbox-circle-line"></i>Sapien mi vestibulum est commodo lobortis metus
              </li>
              <li>
                <i class="ri-checkbox-circle-line"></i>Mauris vitae purus blandit fermentum
              </li>
            </ul>
            <a href="{% url "about" %}" class="btn style2">Find Out More</a>
          </div>
        </div>
        <div class="col-lg-6 order-lg-2 order-1"
             data-aos="fade-up"
             data-aos-duration="1200"
             data-aos-delay="200">
          <div class="about-img-wrap">
            <img height="" width="" src="{% static "img/about/about-img-3" %}.png" alt="Image" class="bounce">
            <img height="" width="" src="{% static "img/about/about-shape-1" %}.png" alt="Image" class="about-shape-one">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Section End -->

  <!-- Project Section Start -->
  <section class="project-wrap ptb-100 bg-sand">
    <div class="container">
      <div class="section-title style3 text-center mb-40">
        <span>Donate Now <span class="bl-text">Donation</span></span>
        <h2>Our Latest Causes</h2>
      </div>
      <div class="project-slider-three owl-carousel">
        <div class="project-card style4"
             data-aos="fade-up"
             data-aos-duration="1200"
             data-aos-delay="200">
          <div class="project-img">
            <img height="" width="" src="{% static "img/project/project-17.jpg" %}" alt="Image">
            <button class="like-btn" type="button">
              <i class="ri-heart-fill"></i>
            </button>
          </div>
          <div class="project-info">
            <h3>
              <a href="{% url "home" %}">Stop Cutting Down Trees</a>
            </h3>
            <p>Lorem ipsum dolor sit amet cons ecte adipiscin elit.</p>
            <div class="progressbar-wrap ">
              <div class="progress-bar" data-percentage="32%">
                <h4 class="progress-title-holder">
                  <span class="progress-number-wrapper">
                    <span class="progress-number-mark">
                      <span class="percent"></span>
                    </span>
                  </span>
                </h4>
                <div class="progress-content-outter">
                  <div class="progress-content">
                    <div class="amet"></div>
                  </div>
                </div>
              </div>
            </div>
            <ul class="fund-collection list-style">
              <li class="fund-raised">$4800 Raised Of $19000</li>
              <li class="fund-goal">32.00%</li>
            </ul>
            <a href="{% url "home" %}" class="link style1">Donate Now<i class="flaticon-right-arrow"></i></a>
          </div>
        </div>
        <div class="project-card style4"
             data-aos="fade-right"
             data-aos-duration="1200"
             data-aos-delay="200">
          <div class="project-img">
            <img height="" width="" src="{% static "img/project/project-18.jpg" %}" alt="Image">
            <button class="like-btn" type="button">
              <i class="ri-heart-fill"></i>
            </button>
          </div>
          <div class="project-info">
            <h3>
              <a href="{% url "home" %}">Be Efficient In Energy Use</a>
            </h3>
            <p>Lorem ipsum dolor sit amet cons ecte adipiscin elit.</p>
            <div class="progressbar-wrap ">
              <div class="progress-bar" data-percentage="50%">
                <h4 class="progress-title-holder">
                  <span class="progress-number-wrapper">
                    <span class="progress-number-mark">
                      <span class="percent"></span>
                    </span>
                  </span>
                </h4>
                <div class="progress-content-outter">
                  <div class="progress-content">
                    <div class="amet"></div>
                  </div>
                </div>
              </div>
            </div>
            <ul class="fund-collection list-style">
              <li class="fund-raised">$4000 Raised Of $8000</li>
              <li class="fund-goal">50.00%</li>
            </ul>
            <a href="{% url "home" %}" class="link style1">Donate Now<i class="flaticon-right-arrow"></i></a>
          </div>
        </div>
        <div class="project-card style4"
             data-aos="fade-right"
             data-aos-duration="1200"
             data-aos-delay="300">
          <div class="project-img">
            <img height="" width="" src="{% static "img/project/project-19.jpg" %}" alt="Image">
            <button class="like-btn" type="button">
              <i class="ri-heart-fill"></i>
            </button>
          </div>
          <div class="project-info">
            <h3>
              <a href="{% url "home" %}">Recycling Daily Waste</a>
            </h3>
            <p>Lorem ipsum dolor sit amet cons ecte adipiscin elit.</p>
            <div class="progressbar-wrap ">
              <div class="progress-bar" data-percentage="70%">
                <h4 class="progress-title-holder">
                  <span class="progress-number-wrapper">
                    <span class="progress-number-mark">
                      <span class="percent"></span>
                    </span>
                  </span>
                </h4>
                <div class="progress-content-outter">
                  <div class="progress-content">
                    <div class="amet"></div>
                  </div>
                </div>
              </div>
            </div>
            <ul class="fund-collection list-style">
              <li class="fund-raised">$7000 Raised Of $10000</li>
              <li class="fund-goal">70.00%</li>
            </ul>
            <a href="{% url "home" %}" class="link style1">Donate Now<i class="flaticon-right-arrow"></i></a>
          </div>
        </div>
        <div class="project-card style4"
             data-aos="fade-right"
             data-aos-duration="1200"
             data-aos-delay="400">
          <div class="project-img">
            <img height="" width="" src="{% static "img/project/project-20.jpg" %}" alt="Image">
            <button class="like-btn" type="button">
              <i class="ri-heart-fill"></i>
            </button>
          </div>
          <div class="project-info">
            <h3>
              <a href="{% url "home" %}">Reduce Greenhouse Gas</a>
            </h3>
            <p>Lorem ipsum dolor sit amet cons ecte adipiscin elit.</p>
            <div class="progressbar-wrap ">
              <div class="progress-bar" data-percentage="65%">
                <h4 class="progress-title-holder">
                  <span class="progress-number-wrapper">
                    <span class="progress-number-mark">
                      <span class="percent"></span>
                    </span>
                  </span>
                </h4>
                <div class="progress-content-outter">
                  <div class="progress-content">
                    <div class="amet"></div>
                  </div>
                </div>
              </div>
            </div>
            <ul class="fund-collection list-style">
              <li class="fund-raised">$6500 Raised Of $12000</li>
              <li class="fund-goal">65.00%</li>
            </ul>
            <a href="{% url "home" %}" class="link style1">Donate Now<i class="flaticon-right-arrow"></i></a>
          </div>
        </div>
        <div class="project-card style4"
             data-aos="fade-right"
             data-aos-duration="1200"
             data-aos-delay="500">
          <div class="project-img">
            <img height="" width="" src="{% static "img/project/project-21.jpg" %}" alt="Image">
            <button class="like-btn" type="button">
              <i class="ri-heart-fill"></i>
            </button>
          </div>
          <div class="project-info">
            <h3>
              <a href="{% url "home" %}">Stop Using Plastic</a>
            </h3>
            <p>Lorem ipsum dolor sit amet cons ecte adipiscin elit.</p>
            <div class="progressbar-wrap ">
              <div class="progress-bar" data-percentage="80%">
                <h4 class="progress-title-holder">
                  <span class="progress-number-wrapper">
                    <span class="progress-number-mark">
                      <span class="percent"></span>
                    </span>
                  </span>
                </h4>
                <div class="progress-content-outter">
                  <div class="progress-content">
                    <div class="amet"></div>
                  </div>
                </div>
              </div>
            </div>
            <ul class="fund-collection list-style">
              <li class="fund-raised">$8000 Raised Of $10000</li>
              <li class="fund-goal">80.00%</li>
            </ul>
            <a href="{% url "home" %}" class="link style1">Donate Now<i class="flaticon-right-arrow"></i></a>
          </div>
        </div>
        <div class="project-card style4"
             data-aos="fade-right"
             data-aos-duration="1200"
             data-aos-delay="600">
          <div class="project-img">
            <img height="" width="" src="{% static "img/project/project-22.jpg" %}" alt="Image">
            <button class="like-btn" type="button">
              <i class="ri-heart-fill"></i>
            </button>
          </div>
          <div class="project-info">
            <h3>
              <a href="{% url "home" %}">Reduce Air Pollution</a>
            </h3>
            <p>Lorem ipsum dolor sit amet cons ecte adipiscin elit.</p>
            <div class="progressbar-wrap ">
              <div class="progress-bar" data-percentage="45%">
                <h4 class="progress-title-holder">
                  <span class="progress-number-wrapper">
                    <span class="progress-number-mark">
                      <span class="percent"></span>
                    </span>
                  </span>
                </h4>
                <div class="progress-content-outter">
                  <div class="progress-content">
                    <div class="amet"></div>
                  </div>
                </div>
              </div>
            </div>
            <ul class="fund-collection list-style">
              <li class="fund-raised">$4500 Raised Of $9000</li>
              <li class="fund-goal">45.00%</li>
            </ul>
            <a href="{% url "home" %}" class="link style1">Donate Now<i class="flaticon-right-arrow"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Project Section End -->

  <!-- Counter Section Start -->
  <div class="promo-video bg-f style3 ptb-100">
    <div class="container">
      <div class="row gx-5">
        <div class="col-xl-5 col-lg-5">
          <div class="content-title style5 md-center">
            <span>Intro Video</span>
            <h2>We Are Always best For Emergency Solution</h2>
          </div>
          <a class="play-now"
             data-fancybox=""
             href="https://www.youtube.com/watch?v=UNSSuTSQI9I">
            <i class="ri-play-fill"></i>
            <span class="ripple"></span>
          </a>
        </div>
        <div class="col-xl-7 col-lg-7">
          <div class="counter-card-wrap style3">
            <div class="counter-card"
                 data-aos="fade-up"
                 data-aos-duration="1200"
                 data-aos-delay="200">
              <span class="counter-icon">
                <i class="flaticon-coin"></i>
              </span>
              <div class="counter-text">
                <h2 class="counter-num">
                  <span class="odometer" data-count="8705"></span>
                </h2>
                <p>Donations</p>
              </div>
            </div>
            <div class="counter-card"
                 data-aos="fade-up"
                 data-aos-duration="1200"
                 data-aos-delay="300">
              <span class="counter-icon">
                <i class="flaticon-campaign"></i>
              </span>
              <div class="counter-text">
                <h2 class="counter-num">
                  <span class="odometer" data-count="380"></span>
                </h2>
                <p>Campaigns</p>
              </div>
            </div>
            <div class="counter-card"
                 data-aos="fade-up"
                 data-aos-duration="1200"
                 data-aos-delay="400">
              <span class="counter-icon">
                <i class="flaticon-money-box"></i>
              </span>
              <div class="counter-text">
                <h2 class="counter-num">
                  <span class="odometer" data-count="9450"></span>
                </h2>
                <p>Fun Raised</p>
              </div>
            </div>
            <div class="counter-card"
                 data-aos="fade-up"
                 data-aos-duration="1200"
                 data-aos-delay="500">
              <span class="counter-icon">
                <i class="flaticon-volunteer"></i>
              </span>
              <div class="counter-text">
                <h2 class="counter-num">
                  <span class="odometer" data-count="707"></span>
                </h2>
                <p>Volunteers</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Counter Section End -->

  <!-- Event Section Start -->
  <section class="event-wrap pt-100 pb-75">
    <img height="" width="" src="{% static "img/shape-12.png " %}" alt="Image" class="event-sape-two sm-none">
    <img height="" width="" src="{% static "img/shape-5.png " %}" alt="Image" class="event-sape-three">
    <div class="container">
      <div class="section-title style3 text-center mb-40">
        <span>Upcoming Events <span class="bl-text">Upcoming Events</span></span>
        <h2>Our Upcoming Events</h2>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-5">
          <div class="event-card style4"
               data-aos="fade-up"
               data-aos-duration="1200"
               data-aos-delay="200">
            <div class="event-img">
              <img height="" width="" src="{% static "img/project/project-23.jpg" %}" alt="Image">
              <span class="event-date">22 Jul, 2022</span>
            </div>
            <div class="event-info">
              <h3>
                <a href="{% url "home" %}">Developing Low Carbon</a>
              </h3>
              <ul class="event-metainfo list-style">
                <li>
                  <a href="{% url "home" %}"><i class="ri-map-pin-line"></i>352 Waldeck Street, Abbott</a>
                </li>
                <li>
                  <a href="{% url "home" %}"><i class="ri-time-line"></i>8:00 am - 5:00 pm</a>
                </li>
              </ul>
              <p>Lorem ipsum dolor sit amet consec tetur adipiscing elit sollicitudin consec amet sit dolor consec tatur.</p>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-7">
          <div class="event-card style3"
               data-aos="fade-up"
               data-aos-duration="1200"
               data-aos-delay="200">
            <div class="event-img">
              <img height="" width="" src="{% static "img/event/event-11.jpg" %}" alt="Image">
              <span class="event-date">15 Jul, 2022</span>
            </div>
            <div class="event-info">
              <h3>
                <a href="{% url "home" %}">Encourage For Green City</a>
              </h3>
              <ul class="event-metainfo list-style">
                <li>
                  <a href="{% url "home" %}"><i class="ri-map-pin-line"></i>16 Devils Hill Road, Jackson</a>
                </li>
                <li>
                  <a href="{% url "home" %}"><i class="ri-time-line"></i>10:00 am - 3:00 pm</a>
                </li>
              </ul>
              <p>Lorem ipsum dolor sit amet consec tetur adipiscing elit sollicitudin consec.</p>
            </div>
          </div>
          <div class="event-card style3"
               data-aos="fade-up"
               data-aos-duration="1200"
               data-aos-delay="300">
            <div class="event-img">
              <img height="" width="" src="{% static "img/event/event-12.jpg" %}" alt="Image">
              <span class="event-date">15 Aug, 2022</span>
            </div>
            <div class="event-info">
              <h3>
                <a href="{% url "home" %}">Stop Deforestation</a>
              </h3>
              <ul class="event-metainfo list-style">
                <li>
                  <a href="{% url "home" %}"><i class="ri-map-pin-line"></i>19 Colonial Drive, Houston</a>
                </li>
                <li>
                  <a href="{% url "home" %}"><i class="ri-time-line"></i>9:00 am - 2:00 pm</a>
                </li>
              </ul>
              <p>Lorem ipsum dolor sit amet consec tetur adipiscing elit sollicitudin consec.</p>
            </div>
          </div>
          <div class="event-card style3"
               data-aos="fade-up"
               data-aos-duration="1200"
               data-aos-delay="400">
            <div class="event-img">
              <img height="" width="" src="{% static "img/event/event-13.jpg" %}" alt="Image">
              <span class="event-date">17 Jul, 2022</span>
            </div>
            <div class="event-info">
              <h3>
                <a href="{% url "home" %}">Reduce CFC Gas</a>
              </h3>
              <ul class="event-metainfo list-style">
                <li>
                  <a href="{% url "home" %}"><i class="ri-map-pin-line"></i>Abbott, Gottlieb and Watsica</a>
                </li>
                <li>
                  <a href="{% url "home" %}"><i class="ri-time-line"></i>8:00 am - 5:00 pm</a>
                </li>
              </ul>
              <p>Lorem ipsum dolor sit amet consec tetur adipiscing elit sollicitudin consec.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Event Section End -->

  <!-- Team Section Start -->
  <section class="team-wrap ptb-100 bg-sand">
    <img height="" width="" src="{% static "img/shape-11.png " %}" alt="Image" class="team-shape-one">
    <div class="container">
      <div class="section-title style3 text-center mb-40">
        <span>Our Volunteer</span>
        <h2>Our Experts Volunteer</h2>
      </div>
      <div class="team-slider-one owl-carousel">
        <div class="team-card style3"
             data-aos="fade-right"
             data-aos-duration="1200"
             data-aos-delay="200">
          <img height="" width="" src="{% static "img/team/team-1.jpg" %}" alt="Image">
          <div class="team-info">
            <h3>
              <a href="{% url "home" %}">Kevin Thompson</a>
            </h3>
            <span>Founder &amp; CEO</span>
            <ul class="social-profile style1 list-style">
              <li>
                <a href="https://facebook.com/">
                  <i class="ri-facebook-fill"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/">
                  <i class="ri-twitter-fill"></i>
                </a>
              </li>
              <li>
                <a href="https://instagram.com/">
                  <i class="ri-instagram-line"></i>
                </a>
              </li>
              <li>
                <a href="https://linkedin.com/">
                  <i class="ri-linkedin-fill"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="team-card style3"
             data-aos="fade-right"
             data-aos-duration="1200"
             data-aos-delay="300">
          <img height="" width="" src="{% static "img/team/team-2.jpg" %}" alt="Image">
          <div class="team-info">
            <h3>
              <a href="{% url "home" %}">Isabella Woods</a>
            </h3>
            <span>Cheif Marketing Officer</span>
            <ul class="social-profile style1 list-style">
              <li>
                <a href="https://facebook.com/">
                  <i class="ri-facebook-fill"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/">
                  <i class="ri-twitter-fill"></i>
                </a>
              </li>
              <li>
                <a href="https://instagram.com/">
                  <i class="ri-instagram-line"></i>
                </a>
              </li>
              <li>
                <a href="https://linkedin.com/">
                  <i class="ri-linkedin-fill"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="team-card style3"
             data-aos="fade-right"
             data-aos-duration="1200"
             data-aos-delay="400">
          <img height="" width="" src="{% static "img/team/team-3.jpg" %}" alt="Image">
          <div class="team-info">
            <h3>
              <a href="{% url "home" %}">Liam Stokes</a>
            </h3>
            <span>Senior Executive</span>
            <ul class="social-profile style1 list-style">
              <li>
                <a href="https://facebook.com/">
                  <i class="ri-facebook-fill"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/">
                  <i class="ri-twitter-fill"></i>
                </a>
              </li>
              <li>
                <a href="https://instagram.com/">
                  <i class="ri-instagram-line"></i>
                </a>
              </li>
              <li>
                <a href="https://linkedin.com/">
                  <i class="ri-linkedin-fill"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="team-card style3"
             data-aos="fade-right"
             data-aos-duration="1200"
             data-aos-delay="500">
          <img height="" width="" src="{% static "img/team/team-4.jpg" %}" alt="Image">
          <div class="team-info">
            <h3>
              <a href="{% url "home" %}">Lucy Floyd</a>
            </h3>
            <span>Accounts Manager</span>
            <ul class="social-profile style1 list-style">
              <li>
                <a href="https://facebook.com/">
                  <i class="ri-facebook-fill"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/">
                  <i class="ri-twitter-fill"></i>
                </a>
              </li>
              <li>
                <a href="https://instagram.com/">
                  <i class="ri-instagram-line"></i>
                </a>
              </li>
              <li>
                <a href="https://linkedin.com/">
                  <i class="ri-linkedin-fill"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="team-card style3"
             data-aos="fade-right"
             data-aos-duration="1200"
             data-aos-delay="600">
          <img height="" width="" src="{% static "img/team/team-5.jpg" %}" alt="Image">
          <div class="team-info">
            <h3>
              <a href="{% url "home" %}">Hannah Adison</a>
            </h3>
            <span>Marketing Manager</span>
            <ul class="social-profile style1 list-style">
              <li>
                <a href="https://facebook.com/">
                  <i class="ri-facebook-fill"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/">
                  <i class="ri-twitter-fill"></i>
                </a>
              </li>
              <li>
                <a href="https://instagram.com/">
                  <i class="ri-instagram-line"></i>
                </a>
              </li>
              <li>
                <a href="https://linkedin.com/">
                  <i class="ri-linkedin-fill"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="team-card style3"
             data-aos="fade-right"
             data-aos-duration="1200"
             data-aos-delay="700">
          <img height="" width="" src="{% static "img/team/team-6.jpg" %}" alt="Image">
          <div class="team-info">
            <h3>
              <a href="{% url "home" %}">Jaylen Mills</a>
            </h3>
            <span>Senior Executive</span>
            <ul class="social-profile style1 list-style">
              <li>
                <a href="https://facebook.com/">
                  <i class="ri-facebook-fill"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/">
                  <i class="ri-twitter-fill"></i>
                </a>
              </li>
              <li>
                <a href="https://instagram.com/">
                  <i class="ri-instagram-line"></i>
                </a>
              </li>
              <li>
                <a href="https://linkedin.com/">
                  <i class="ri-linkedin-fill"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Team Section End -->

  <div class="container mt-100">
    <div class="donate-box ptb-100">
      <img height="" width="" src="{% static "img/shape-6.png " %}" alt="Image" class="donate-shape-one">
      <div class="content-title style2 text-center mb-40">
        <span>You Can Donate
          <img height="" width="" src="{% static "img/section-shape.png " %}" alt="Image">
        </span>
        <h2>Your Donation Matters</h2>
      </div>
      <ul class="donate-amt list-style">
        <li>
          <button type="button">$20</button>
        </li>
        <li>
          <button type="button">$50</button>
        </li>
        <li>
          <button type="button">$100</button>
        </li>
        <li>
          <button type="button">$500</button>
        </li>
        <li>
          <button type="button">$1000</button>
        </li>
        <li>
          <button type="button">Other</button>
        </li>
      </ul>
      <button type="submit" class="btn style2">Donate Now</button>
    </div>
  </div>

  <!-- CTA Section Start -->
  <section class="cta-wrap style2 bg-f ptb-100">
    <img height="" width="" src="{% static "img/bird-2.png " %}" alt="Image" class="cta-shape-one flyRight">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2">
          <div class="content-title style1 text-center mb-40">
            <span>Crowd-Funding
              <img height="" width="" src="{% static "img/section-shape.png " %}" alt="Image">
            </span>
            <h2>Best Way To Make A Difference In The Lives Of Others</h2>
          </div>
          <div class="cta-btn">
            <a href="{% url "home" %}" class="btn style1">Get Started now</a>
            <a href="{% url "home" %}" class="btn style2">Join Our Community</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- CTA Section End -->

  <!-- Blog Section Start -->
  <section class="blog-wrap ptb-100 bg-sand">
    <div class="container">
      <img height="" width="" src="{% static "img/shape-7.png " %}" alt="Image" class="blog-section-shape">
      <div class="section-title style3 mb-40 text-center">
        <span>Our Latest News</span>
        <h2>Our Latest News &amp; Articles</h2>
      </div>
      <div class="blog-slider-one owl-carousel">
        <div class="blog-card style3">
          <div class="blog-img">
            <img height="" width="" src="{% static "img/blog/blog-3.jpg" %}" alt="Image">
            <a href="{% url "home" %}" class="blog-date"><span>25</span> Jul, 2022</a>
          </div>
          <div class="blog-info">
            <h3>
              <a href="{% url "home" %}">Changes In Landscapes And Wildlife Community</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet cons ectadic elite soli tudin consec tetur netusdu ame ultrices lectus dolor sit amet egestas.
            </p>
            <a href="{% url "home" %}" class="link style1">Read More <i class="flaticon-right-arrow"></i></a>
          </div>
        </div>
        <div class="blog-card style3">
          <div class="blog-img">
            <img height="" width="" src="{% static "img/blog/blog-1.jpg" %}" alt="Image">
            <a href="{% url "home" %}" class="blog-date"><span>18</span> Jul, 2022</a>
          </div>
          <div class="blog-info">
            <h3>
              <a href="{% url "home" %}">Let’s Take Care of Nature for The Sake of The Earth</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet cons ectadic elite soli tudin consec tetur netusdu ame ultrices lectus dolor sit amet egestas.
            </p>
            <a href="{% url "home" %}" class="link style1">Read More <i class="flaticon-right-arrow"></i></a>
          </div>
        </div>
        <div class="blog-card style3">
          <div class="blog-img">
            <img height="" width="" src="{% static "img/blog/blog-2.jpg" %}" alt="Image">
            <a href="{% url "home" %}" class="blog-date"><span>10</span> Jul, 2022</a>
          </div>
          <div class="blog-info">
            <h3>
              <a href="{% url "home" %}">Increasing Risk Of Storms, Droughts and Floods</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet cons ectadic elite soli tudin consec tetur netusdu ame ultrices lectus dolor sit amet egestas.
            </p>
            <a href="{% url "home" %}" class="link style1">Read More <i class="flaticon-right-arrow"></i></a>
          </div>
        </div>
        <div class="blog-card style3">
          <div class="blog-img">
            <img height="" width="" src="{% static "img/blog/blog-4.jpg" %}" alt="Image">
            <a href="{% url "home" %}" class="blog-date"><span>17</span> May, 2022</a>
          </div>
          <div class="blog-info">
            <h3>
              <a href="{% url "home" %}">Seven Things Nobody Told You About Water Pollution</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet cons ectadic elite soli tudin consec tetur netusdu ame ultrices lectus dolor sit amet egestas.
            </p>
            <a href="{% url "home" %}" class="link style1">Read More <i class="flaticon-right-arrow"></i></a>
          </div>
        </div>
        <div class="blog-card style3">
          <div class="blog-img">
            <img height="" width="" src="{% static "img/blog/blog-5.jpg" %}" alt="Image">
            <a href="{% url "home" %}" class="blog-date"><span>12</span> May, 2022</a>
          </div>
          <div class="blog-info">
            <h3>
              <a href="{% url "home" %}">Solar Panels Will Be Great Source Of Green Energy</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet cons ectadic elite soli tudin consec tetur netusdu ame ultrices lectus dolor sit amet egestas.
            </p>
            <a href="{% url "home" %}" class="link style1">Read More <i class="flaticon-right-arrow"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Blog Section End -->

  <!-- Back-to-top button Start -->
  <a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>
  <!-- Back-to-top button End -->
{% endblock content %}
